@media (max-width: 768px) {
	body {
		align-items: center;
	}
	.navegacionPrincipal {
		height: 100%;
		flex-direction: column;
	}
	#buscador {
		width: 80%;
		margin-left: 70px;
	}
	.subtitulo {
		width: 30%;
	}
	form {
		margin-left: 0;
		width: 100%;
	}
	.mainForm {
		margin-left: 0;
		width: 100%;
		height: 100%;
	}
	.textoInicial {
		width: 50%;
	}
}
@media (max-width:768px) {
	.imgSecundaria {
		display: none;
	}
	.navbar-brand {
		margin-left: 0;
	}
}
@media (max-width: 768px) {
	.bodyGridI {
		display: grid;
		grid-template-areas: "headerI headerI" "mainI mainI" "footerI footerI";
	}
}
@media (max-width: 780px) {
	.imgPosition {
		display: none;
	}
}
@media (max-width: 440px) {
	.tituloI {
		font-size: 3.2rem;
		margin-right: 175px;
	}
	.navegacionPrincipalI {
		a {
			align-items: center;
		}
	}
}
@media (max-width:800px) {
	.navSecundario {
		width: 100%;
	}
	.ofertasImg {
		margin-top: 20px;
		display: grid;
		gap: 20px;
		width: 100%;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
	.novedadesImg {
		display: grid;
		gap: 20px;
		width: 100%;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
}
@media (max-width:450px) {
	.navSecundario {
		a {
			width: 100%;
			font-size: 30px;
			display: flex;
			align-items: center;
		}
	}
	.ofertasImg {
		margin-top: 20px;
		display: grid;
		margin-left: 0;
		width: 100%;
		gap: 20px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
	.novedadesImg {
		display: grid;
		margin-left: 0;
		width: 100%;
		gap: 20px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
}