
/* TIPO DE FUENTE DE LA PAGINA DE WEB */
@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";

/* Agregando variables y paleta de colores*/
$color_1: #16697A;
$color_2: #EDE7E3;
$color_3: #212121;
$color_4: #EDE7E3;
$color_5: #FFA62B;
$color_6: #489FB5; 
$font-family_1: 'Montserrat', sans-serif;